body {
    display: table-cell;
    vertical-align: middle;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#2c2123;
}
.unmarkered{
	display: flex;
    justify-content: center;	
}

.unmarkered li a {
	text-decoration: none;
	color: white;
}

.unmarkered.first{
	background-color: #d6d4d4;
}

.unmarkered.last{
	background-color:#45433b;

}

.unmarkered.first li{
	
	font-size: 15px;
	font-weight: 900;
	padding: 1% 3% 1% 3%;	
	list-style-type: none;
	
}

.unmarkered.last li{
	font-size: 15px;
	padding: 1.5% 15% 0 15%;
	list-style-type: none;
	color: white;
		
}
